doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='javascript:void(null)')#homeLink Home
              li.has-dropdown.not-click
                a(href='javascript:void(null)')#classLink Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#demonLink Demon
                    ul.dropdown
                      li
                       a(href='javascript:void(null)')#halakuLink Halaku
                  li
                    a(href='javascript:void(null)')#dragonLink Dragon
                  li
                    a(href='javascript:void(null)')#drowLink Drow
                  li
                    a(href='javascript:void(null)')#elemLink Elementalist
                  li
                    a(href='javascript:void(null)')#highLink Highlander
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#mageLink Mage
                    ul.dropdown
                      li
                        a(href='javascript:void(null)')#akashicLink Akashic Brotherhood
                      li
                        a(href='javascript:void(null)')#celestialLink Celestial Chorus
                      li
                        a(href='javascript:void(null)')#coeLink Cult of Ecstacy
                      li
                        a(href='javascript:void(null)')#dreamLink Dreamspeakers
                      li
                        a(href='javascript:void(null)')#euthLink Euthanatos
                      li
                        a(href='javascript:void(null)')#hollowLink Hollow Ones
                      li
                        a(href='javascript:void(null)')#hermesLink Order of Hermes
                      li
                        a(href='javascript:void(null)')#verbenaLink Verbena
                      li
                        a(href='javascript:void(null)')#adeptsLink Virtual Adepts
                  li
                    a(href='javascript:void(null)')#monkLink Monk
                  li
                    a(href='javascript:void(null)')#ninjaLink Ninja
                  li
                    a(href='javascript:void(null)')#samuraiLink Samurai
                  li
                    a(href='javascript:void(null)')#sorcLink Sorcerer
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#vampLink Vampire
                    ul.dropdown
                      li
                       a(href='javascript:void(null)')#assamiteLink Assamite
                      li
                        a(href='javascript:void(null)')#brujahLink Brujah
                      li
                        a(href='javascript:void(null)')#gangrelLink Gangrel
                      li
                        a(href='javascript:void(null)')#lasombraLink Lasombra
                      li
                        a(href='javascript:void(null)')#malkavianLink Malkavian
                      li
                        a(href='javascript:void(null)')#nosferatuLink Nosferatu
                      li
                        a(href='javascript:void(null)')#setiteLink Setite
                      li
                        a(href='javascript:void(null)')#tzimisceLink Tzimisce
                      li
                        a(href='javascript:void(null)')#ventrueLink Ventrue
                  li
                    a(href='javascript:void(null)')#wolfLink Werewolf
              li.has-dropdown.not-click
                a(href='javascript:void(null)')#covenLink Covens
                ul.dropdown
                  li
                    a(href='javascript:void(null)')#alLink Affero Letum
                  li
                    a(href='javascript:void(null)')#hhLink Head Hunters
                  li
                    a(href='javascript:void(null)')#kosLink Kill on Sight
                  li
                    a(href='javascript:void(null)')#sdpLink Silent Death Pack
                  li
                    a(href='javascript:void(null)')#tmrLink Tal'Mahe'Ra
              li
                a(href='javascript:void(null)')#questLink Quest Info
            ul.right
              li
                a(href='javascript:void(null)')#connectLink Connect
              li
                a(href='javascript:void(null)')#aboutLink About
    .row
      .small-9.columns.small-centered.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Covens
                | Covens are similar to guilds, they are a group of players that have decided to form an official alliance with each
                | other and work together to achieve their goals. Coven members fall into one of three ranks, Leader, Champion, and 
                | Member. There can be only one Leader per coven, and the Leader's word is law. The Leader is responsible for making
                | the major decisions that all members, regardless of rank, must abide by. The Leader can also promote as many Members
                | to Champions as desired, essentially giving them the authority to make decisions in the Leader's absence.
                br
                br
                | The authority and restrictions the Champions have are determined by the Leader, generally the Leader is the only person
                | that can go to war or declare an alliance with another coven. Champions can induct new Members, promote Members to
                | Champions, and outcast Members from the coven. Members of a coven are expected to follow all the rules the Leader makes, and do their best to uphold the desired image
                | of the coven.
                br
                br
                | Currently there is no system in place to enforce an Alliance status, the punishment for any violation of political
                | agreements is left entirely up to the coven Leader. Generally, the Administrators do NOT get involved in coven affairs,
                | however there are some exceptions (Leader quits the game and a new Leader must be promoted, other things that players may
                | not be able to do).
                br
                br
                table.table_center
                  tr
                    th Coven
                    th Leader
                    th Status
                  tr
                    td Affero Letum
                    td Diabolus
                    td Retired
                  tr
                    td Head Hunters
                    td Rizzo
                    td Retired
                  tr
                    td Kill on Site
                    td Malek
                    td Active
                  tr
                    td Silent Death Pack
                    td Sora
                    td Active
                  tr
                    td Tal'Mahe'Ra
                    td Olek
                    td Inactive
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

