doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='javascript:void(null)')#homeLink Home
              li.has-dropdown.not-click
                a(href='javascript:void(null)')#classLink Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#demonLink Demon
                    ul.dropdown
                      li
                       a(href='javascript:void(null)')#halakuLink Halaku
                  li
                    a(href='javascript:void(null)')#dragonLink Dragon
                  li
                    a(href='javascript:void(null)')#drowLink Drow
                  li
                    a(href='javascript:void(null)')#elemLink Elementalist
                  li
                    a(href='javascript:void(null)')#highLink Highlander
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#mageLink Mage
                    ul.dropdown
                      li
                        a(href='javascript:void(null)')#akashicLink Akashic Brotherhood
                      li
                        a(href='javascript:void(null)')#celestialLink Celestial Chorus
                      li
                        a(href='javascript:void(null)')#coeLink Cult of Ecstacy
                      li
                        a(href='javascript:void(null)')#dreamLink Dreamspeakers
                      li
                        a(href='javascript:void(null)')#euthLink Euthanatos
                      li
                        a(href='javascript:void(null)')#hollowLink Hollow Ones
                      li
                        a(href='javascript:void(null)')#hermesLink Order of Hermes
                      li
                        a(href='javascript:void(null)')#verbenaLink Verbena
                      li
                        a(href='javascript:void(null)')#adeptsLink Virtual Adepts
                  li
                    a(href='javascript:void(null)')#monkLink Monk
                  li
                    a(href='javascript:void(null)')#ninjaLink Ninja
                  li
                    a(href='javascript:void(null)')#samuraiLink Samurai
                  li
                    a(href='javascript:void(null)')#sorcLink Sorcerer
                  li.has-dropdown.not-click
                    a(href='javascript:void(null)')#vampLink Vampire
                    ul.dropdown
                      li
                       a(href='javascript:void(null)')#assamiteLink Assamite
                      li
                        a(href='javascript:void(null)')#brujahLink Brujah
                      li
                        a(href='javascript:void(null)')#gangrelLink Gangrel
                      li
                        a(href='javascript:void(null)')#lasombraLink Lasombra
                      li
                        a(href='javascript:void(null)')#malkavianLink Malkavian
                      li
                        a(href='javascript:void(null)')#nosferatuLink Nosferatu
                      li
                        a(href='javascript:void(null)')#setiteLink Setite
                      li
                        a(href='javascript:void(null)')#tzimisceLink Tzimisce
                      li
                        a(href='javascript:void(null)')#ventrueLink Ventrue
                  li
                    a(href='javascript:void(null)')#wolfLink Werewolf
              li.has-dropdown.not-click
                a(href='javascript:void(null)')#covenLink Covens
                ul.dropdown
                  li
                    a(href='javascript:void(null)')#alLink Affero Letum
                  li
                    a(href='javascript:void(null)')#hhLink Head Hunters
                  li
                    a(href='javascript:void(null)')#kosLink Kill on Sight
                  li
                    a(href='javascript:void(null)')#sdpLink Silent Death Pack
                  li
                    a(href='javascript:void(null)')#tmrLink Tal'Mahe'Ra
              li
                a(href='javascript:void(null)')#questLink Quest Info
            ul.right
              li
                a(href='javascript:void(null)')#connectLink Connect
              li
                a(href='javascript:void(null)')#aboutLink About
    .row
      .small-9.columns.small-centered.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Genesis: The Return
                | Dare you enter a world where the rules of right and wrong no longer apply? A world controlled by gods, where mortals cower in the corners of the 
                | night trembling in fear until they are taken by the beasts that roam this realm; taken to be taught to rise to power? Be it of the Mystics of the 
                | Magi or the Beast of the Garou, many shall perish before the journey's end. Can you be the one to rise to power and command your forces against 
                | those that plague to overthrow you? Do you dare to challenge those that stand against you? Come give us a try!
            .row
              .small-4.columns.small-centered#right
                h2 Leader Board
                table
                  tr
                    td
                      a(href='#') Mr. Best PK'er
                    td
                      a(href='#') Blum
                  tr
                    td
                      a(href='#') Mr. Deadly
                    td
                      a(href='#') Garath
                  tr
                    td
                      a(href='#') Mr. Pathetic
                    td
                      a(href='#') Nobody
                  tr
                    td
                      a(href='#') Mr. Slayer
                    td
                      a(href='#') Lithrion
                  tr
                    td
                      a(href='#') Mr. Wimpy
                    td
                      a(href='#') Malaki
                  tr
                    td
                      a(href='#') Mr. No Life
                    td
                      a(href='#') Umnar
                  tr
                    td
                      a(href='#') Mr. Questor
                    td
                      a(href='#') Umnar
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

