doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='#') Home
              li.has-dropdown.not-click
                a(href='#') Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='#') Demon
                    ul.dropdown
                      li
                       a(href='#') Halaku
                  li
                    a(href='#') Dragon
                  li
                    a(href='#') Drow
                  li
                    a(href='#') Elementalist
                  li
                    a(href='#') Highlander
                  li.has-dropdown.not-click
                    a(href='#') Mage
                    ul.dropdown
                      li
                        a(href='#') Akashic Brotherhood
                      li
                        a(href='#') Celestial Chorus
                      li
                        a(href='#') Cult of Ecstacy
                      li
                        a(href='#') Dreamspeakers
                      li
                        a(href='#') Euthanatos
                      li
                        a(href='#') Hollow Ones
                      li
                        a(href='#') Order of Hermes
                      li
                        a(href='#') Verbena
                      li
                        a(href='#') Virtual Adepts
                  li
                    a(href='#') Monk
                  li
                    a(href='#') Ninja
                  li
                    a(href='#') Samurai
                  li
                    a(href='#') Sorcerer
                  li.has-dropdown.not-click
                    a(href='#') Vampire
                    ul.dropdown
                      li
                       a(href='#') Assamite
                      li
                        a(href='#') Brujah
                      li
                        a(href='#') Gangrel
                      li
                        a(href='#') Lasombra
                      li
                        a(href='#') Malkavian
                      li
                        a(href='#') Nosferatu
                      li
                        a(href='#') Setite
                      li
                        a(href='#') Tzimisce
                      li
                        a(href='#') Ventrue
                  li
                    a(href='#') Werewolf
              li.has-dropdown.not-click
                a(href='#') Covens
                ul.dropdown
                  li
                    a(href='#') Affero Letum
                  li
                    a(href='#') Head Hunters
                  li
                    a(href='#') Kill on Sight
                  li
                    a(href='#') Silent Death Pack
                  li
                    a(href='#') Tal'Mahe'Ra
              li
                a(href='#') Quest Info
            ul.right
              li
                a(href='#') Connect
              li
                a(href='#') About
    .row
      .small-9.columns.small-centered#header_vampire.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Nosferatu
                ul#class_stats
                  li Melee Heavy
                  li Tank/DPS
                  li Difficulty: 3/10
                | Nosferatu are hideous, deformed vampires, their deformities the result of a curse from Caine himself. Most of them resemble Count Orlok from the silent movie Nosferatu.
                | Although they are looked down on by most other Kindred, and considered low class, or gutter trash, they have made themselves
                | invaluable to kindred society by becoming the best information brokers out of all creatures. Generally they live in the sewers, catacombs,
                | or with the homeless masses, disguising their disfigurements as leprosy. Although unable to crawl out of the gutters of society themselves,
                | they help those they feel can make it out of the gutters, and tend to make large donations to various orphanages, mental hospitals, and
                | other institutions that help the poor and destitute.
                br
                br
                | Playing as a Nosferatu is similar to most other tank or damage dealing classes, with one exception. Due to their Fleshbond ability, they
                | make excellent meat shields and cannon fodder. In a group, a Nosferatu can take more hits than most other classes, and still dish out above average
                | amounts of damage. Maintaining Celerity, Regeneration, and Frenzy during combat are a must for any Nosferatu. Fist of Caine is their main attack,
                | but it's usually not needed for smaller monsters. When making equipment, the stat priority Nosferatu should focus on is hitroll, damroll, armor class,
                | and hp. With the right gear setup, and with Fleshbond active, a Nosferatu can easily have over 70,000 max hp.
                br
                br
                h3 Animalism
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Pigeon
                    td Sends an object to a target player with transfer enabled.
                  tr
                    td **
                    td Beckon
                    td Summons an animal.
                  tr
                    td ***
                    td Song
                    td Calms your inner beast when you're in a frenzy.
                  tr
                    td ****
                    td Beastwithin
                    td Sends a target player into a frenzy.
                  tr
                    td *****
                    td Succulence
                    td Increases the quality of a target's blood, making it more filling.
                  tr
                    td ******
                    td Frenzy
                    td Let's you enter a frenzy, adding between 50-100 to your hr/dr.
                  tr
                    td *******
                    td Fleshbond
                    td Bond with a target animal, adding their max hp to yours.
                br
                br
                h3 Obfuscate
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Vanish
                    td Makes you invisible.
                  tr
                    td **
                    td Mask
                    td Makes you look like someone else.
                  tr
                    td ***
                    td Cloak
                    td Allows you to use "vanish all" to hide your entire group.
                  tr
                    td ****
                    td Vanished Movement
                    td Conceals your movement from others.
                  tr
                    td *****
                    td Soulmask
                    td Change your appearance to fool Readaura.
                  tr
                    td ******
                    td Shield
                    td Prevents you from being the target of Readaura and Scry.
                  tr
                    td *******
                    td Memory's Fading Glimpse
                    td Provides immunity to the Faerie Fog spell. (Passive, automatic)
                br
                br
                h3 Potence
                | All levels of Potence increase your damcap by 145 each. Rank 7 of Potence increases damcap by an additional 50
                | and provides access to the Fist of Caine ability, a devastating attack with damage modified by your damroll.
                | Be careful not to use it too often, it has a high amount of lag it applies to the user.
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

