doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='#') Home
              li.has-dropdown.not-click
                a(href='#') Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='#') Demon
                    ul.dropdown
                      li
                       a(href='#') Halaku
                  li
                    a(href='#') Dragon
                  li
                    a(href='#') Drow
                  li
                    a(href='#') Elementalist
                  li
                    a(href='#') Highlander
                  li.has-dropdown.not-click
                    a(href='#') Mage
                    ul.dropdown
                      li
                        a(href='#') Akashic Brotherhood
                      li
                        a(href='#') Celestial Chorus
                      li
                        a(href='#') Cult of Ecstacy
                      li
                        a(href='#') Dreamspeakers
                      li
                        a(href='#') Euthanatos
                      li
                        a(href='#') Hollow Ones
                      li
                        a(href='#') Order of Hermes
                      li
                        a(href='#') Verbena
                      li
                        a(href='#') Virtual Adepts
                  li
                    a(href='#') Monk
                  li
                    a(href='#') Ninja
                  li
                    a(href='#') Samurai
                  li
                    a(href='#') Sorcerer
                  li.has-dropdown.not-click
                    a(href='#') Vampire
                    ul.dropdown
                      li
                       a(href='#') Assamite
                      li
                        a(href='#') Brujah
                      li
                        a(href='#') Gangrel
                      li
                        a(href='#') Lasombra
                      li
                        a(href='#') Malkavian
                      li
                        a(href='#') Nosferatu
                      li
                        a(href='#') Setite
                      li
                        a(href='#') Tzimisce
                      li
                        a(href='#') Ventrue
                  li
                    a(href='#') Werewolf
              li.has-dropdown.not-click
                a(href='#') Covens
                ul.dropdown
                  li
                    a(href='#') Affero Letum
                  li
                    a(href='#') Head Hunters
                  li
                    a(href='#') Kill on Sight
                  li
                    a(href='#') Silent Death Pack
                  li
                    a(href='#') Tal'Mahe'Ra
              li
                a(href='#') Quest Info
            ul.right
              li
                a(href='#') Connect
              li
                a(href='#') About
    .row
      .small-9.columns.small-centered#header_vampire.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Setite
                ul#class_stats
                  li Melee Heavy
                  li Tank/DPS
                  li Difficulty: 5/10
                | The Followers of Set, also called Setites, are the clan of Vampires that believe their founder was the Egyptian god Set. Orthodox
                | Setite belief states that one day Set will return to rule or consume the world, devout Setites prepare the way for his resurrection.
                | Originating in Egypt, and generally staying in the area throughout the millenia, the Setites are an Independent clan, that work toward
                | their own goals, mainly corruption. Seeking to subvert and destroy all that is good, noble, safe, or beautiful, whether it is Kindred or
                | mortal makes no difference to them. Their favorite weapons include drugs, sex, money, power, and all vices. Their exceptional talent for
                | deception comes from their study of the Obfuscate discipline. Their clan specific discipline is Serpentis, allowing them to control and
                | manipulate snakes, including transforming themselves into a large, snake-like form.
                br
                br
                | Setites are a unique clan, being the only clan with a transformation that doesn't allow them to use stances. To make up for the lack of
                | stance benefits, a Setite in Serpent form gains more bonuses than other classes with a transformation. Gaining two extra auto attacks,
                | an extra 500 soak, and their speed is improved by an extra 3 points. As with all other Vampires, a Setite should keep Celerity and Regeneration
                | active while in combat. Whenever possible, try to initiate combat while vanished, so your first attack does double damage (assuming it hits).
                | A Setite's main attack is Tongue, which can also be used to poison a weapon (this counts as having a weapon spell on the weapon, so other spells can't
                | be added to the weapon after it has been poisoned). Eyes of the Serpent causes moderate lag to the victim and the user, but it's good against classes
                | that rely heavily on mid-round attacks with low avoid. Breath of the Basilisk is an area attack that damages everything in the same room as the user,
                | so caution is advised when using it. A Setite's Presence discipline also provides some interesting abilities, Dreadgaze fears the victim, giving them a
                | chance to flee from combat. Mask Empathy and Enrage can be a potentially deadly combination, Empathy removes Conditioning from the victim, allowing the
                | victim to once again attack the Vampire that conditioned them. Enrage sends the target vampire into a frenzy, attacking anything in the room at random.
                | When making equipment, a Setite should focus on armor class, hitroll, health, damroll, and mana.
                br
                br
                h3 Serpentis
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Eyes of the Serpent
                    td Paralyze a target, freezing them in place by staring into their eyes..
                  tr
                    td **
                    td Tongue
                    td Extend a serpent like tongue to either attack your victim, or poison a weapon.
                  tr
                    td ***
                    td Mummify
                    td Mummify yourself, entering a state similar to torpor, leaving you unable to do anything.
                  tr
                    td ****
                    td Serpent
                    td Change into a giant serpent, providing stat buffs and extra attacks, but preventing stance use.
                  tr
                    td *****
                    td Breath of the Basilisk
                    td Exhale a poisonous breath to damage everything in the same room. (Syntax: sbreath)
                  tr
                    td ******
                    td Seed of Corruption
                    td Invoke Set's wrath to cause increasing damage over time to all targets in the room.
                  tr
                    td *******
                    td Mark of Corruption
                    td Place a disfiguring mark on the victim, causing anyone that sees them to attack them.
                br
                br
                h3 Obfuscate
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Vanish
                    td Makes you invisible.
                  tr
                    td **
                    td Mask
                    td Makes you look like someone else.
                  tr
                    td ***
                    td Cloak
                    td Allows you to use "vanish all" to hide your entire group.
                  tr
                    td ****
                    td Vanished Movement
                    td Conceals your movement from others.
                  tr
                    td *****
                    td Soulmask
                    td Change your appearance to fool Readaura.
                  tr
                    td ******
                    td Shield
                    td Prevents you from being the target of Readaura and Scry.
                  tr
                    td *******
                    td Memory's Fading Glimpse
                    td Provides immunity to the Faerie Fog spell. (Passive, automatic)
                br
                br
                h3 Presence
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Awe
                    td Makes it harder for someone to attack the vampire.
                  tr
                    td **
                    td Dreadgaze
                    td Causes fear in a victim (causes them to flee from combat).
                  tr
                    td ***
                    td Entrance
                    td Charms your victim.
                  tr
                    td ****
                    td Summoning
                    td Summons the target to you.
                  tr
                    td *****
                    td Majesty
                    td Prevents monsters from attacking you.
                  tr
                    td ******
                    td Enrage
                    td Causes the target to enter a berserker rage.
                  tr
                    td *******
                    td Mask Empathy
                    td Removes conditioning.
                br
                br
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

