doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='#') Home
              li.has-dropdown.not-click
                a(href='#') Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='#') Demon
                    ul.dropdown
                      li
                       a(href='#') Halaku
                  li
                    a(href='#') Dragon
                  li
                    a(href='#') Drow
                  li
                    a(href='#') Elementalist
                  li
                    a(href='#') Highlander
                  li.has-dropdown.not-click
                    a(href='#') Mage
                    ul.dropdown
                      li
                        a(href='#') Akashic Brotherhood
                      li
                        a(href='#') Celestial Chorus
                      li
                        a(href='#') Cult of Ecstacy
                      li
                        a(href='#') Dreamspeakers
                      li
                        a(href='#') Euthanatos
                      li
                        a(href='#') Hollow Ones
                      li
                        a(href='#') Order of Hermes
                      li
                        a(href='#') Verbena
                      li
                        a(href='#') Virtual Adepts
                  li
                    a(href='#') Monk
                  li
                    a(href='#') Ninja
                  li
                    a(href='#') Samurai
                  li
                    a(href='#') Sorcerer
                  li.has-dropdown.not-click
                    a(href='#') Vampire
                    ul.dropdown
                      li
                       a(href='#') Assamite
                      li
                        a(href='#') Brujah
                      li
                        a(href='#') Gangrel
                      li
                        a(href='#') Lasombra
                      li
                        a(href='#') Malkavian
                      li
                        a(href='#') Nosferatu
                      li
                        a(href='#') Setite
                      li
                        a(href='#') Tzimisce
                      li
                        a(href='#') Ventrue
                  li
                    a(href='#') Werewolf
              li.has-dropdown.not-click
                a(href='#') Covens
                ul.dropdown
                  li
                    a(href='#') Affero Letum
                  li
                    a(href='#') Head Hunters
                  li
                    a(href='#') Kill on Sight
                  li
                    a(href='#') Silent Death Pack
                  li
                    a(href='#') Tal'Mahe'Ra
              li
                a(href='#') Quest Info
            ul.right
              li
                a(href='#') Connect
              li
                a(href='#') About
    .row
      .small-9.columns.small-centered#header_vampire.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Nosferatu
                ul#class_stats
                  li Melee Heavy
                  li Tank/DPS
                  li Difficulty: 3/10
                | Clan Tzimisce is  
                br
                br
                | 
                br
                br
                h3 Animalism
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Pigeon
                    td Sends an object to a target player with transfer enabled.
                  tr
                    td **
                    td Beckon
                    td Summons an animal.
                  tr
                    td ***
                    td Song
                    td Calms your inner beast when you're in a frenzy.
                  tr
                    td ****
                    td Beastwithin
                    td Sends a target player into a frenzy.
                  tr
                    td *****
                    td Succulence
                    td Increases the quality of a target's blood, making it more filling.
                  tr
                    td ******
                    td Frenzy
                    td Let's you enter a frenzy, adding between 50-100 to your hr/dr.
                  tr
                    td *******
                    td Fleshbond
                    td Bond with a target animal, adding their max hp to yours.
                br
                br
                h3 Auspex
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Heighten
                    td Heightens your senses, allowing you to see all but the most well-hidden things.
                  tr
                    td **
                    td Readaura
                    td Allows you to view detailed information about a target.
                  tr
                    td ***
                    td Scry
                    td Searches for the target and attempts to reveal their location.
                  tr
                    td ****
                    td Unveil
                    td Views the thoughts of another person.
                  tr
                    td *****
                    td Omnipotence
                    td Forms a spectral eye to continuously watch a room.
                  tr
                    td ******
                    td Mirror Reflexes
                    td Improve speed and avoid by reading your opponent's mind. (Passive, automatic)
                  tr
                    td *******
                    td Mindblast
                    td Attack the opponent's mind, dealing damage with a chance to stun them.
                br
                br
                h3 Vicissitude
                table.table_center
                  tr
                    th Rank
                    th Skill
                    th Description
                  tr
                    td *
                    td Changeling
                    td Changes you to look like the target.
                  tr
                    td **
                    td Fleshcraft
                    td Mold the victim's flesh to give them wings.
                  tr
                    td ***
                    td Bonecraft
                    td Mold the victim's bone structure to give them horns, tusks, or an exoskeleton.
                  tr
                    td ****
                    td Plasmaform
                    td Transform into a living pool of blood, preventing attacks made against you.
                  tr
                    td *****
                    td Zuloform
                    td Transform into the war-form Zulo, increasing hitroll, damroll, and armor.
                  tr
                    td ******
                    td Disintegration
                    td Damages the victim and reduces their health regeneration rate.
                  tr
                    td *******
                    td Chiroptean Marauder
                    td Turn into an enormous bipedal bat, increasing hitroll, damroll, armor, and soak.
                br
                br
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

