doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='#') Home
              li.has-dropdown.not-click
                a(href='#') Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='#') Demon
                    ul.dropdown
                      li
                       a(href='#') Halaku
                  li
                    a(href='#') Dragon
                  li
                    a(href='#') Drow
                  li
                    a(href='#') Elementalist
                  li
                    a(href='#') Highlander
                  li.has-dropdown.not-click
                    a(href='#') Mage
                    ul.dropdown
                      li
                        a(href='#') Akashic Brotherhood
                      li
                        a(href='#') Celestial Chorus
                      li
                        a(href='#') Cult of Ecstacy
                      li
                        a(href='#') Dreamspeakers
                      li
                        a(href='#') Euthanatos
                      li
                        a(href='#') Hollow Ones
                      li
                        a(href='#') Order of Hermes
                      li
                        a(href='#') Verbena
                      li
                        a(href='#') Virtual Adepts
                  li
                    a(href='#') Monk
                  li
                    a(href='#') Ninja
                  li
                    a(href='#') Samurai
                  li
                    a(href='#') Sorcerer
                  li.has-dropdown.not-click
                    a(href='#') Vampire
                    ul.dropdown
                      li
                       a(href='#') Assamite
                      li
                        a(href='#') Brujah
                      li
                        a(href='#') Gangrel
                      li
                        a(href='#') Lasombra
                      li
                        a(href='#') Malkavian
                      li
                        a(href='#') Nosferatu
                      li
                        a(href='#') Setite
                      li
                        a(href='#') Tzimisce
                      li
                        a(href='#') Ventrue
                  li
                    a(href='#') Werewolf
              li.has-dropdown.not-click
                a(href='#') Covens
                ul.dropdown
                  li
                    a(href='#') Affero Letum
                  li
                    a(href='#') Head Hunters
                  li
                    a(href='#') Kill on Sight
                  li
                    a(href='#') Silent Death Pack
                  li
                    a(href='#') Tal'Mahe'Ra
              li
                a(href='#') Quest Info
            ul.right
              li
                a(href='#') Connect
              li
                a(href='#') About
    .row
      .small-9.columns.small-centered.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Covens
                | Covens are similar to guilds, they are a group of players that have decided to form an official alliance with each
                | other and work together to achieve their goals. Coven members fall into one of three ranks, Leader, Champion, and 
                | Member. There can be only one Leader per coven, and the Leader's word is law. The Leader is responsible for making
                | the major decisions that all members, regardless of rank, must abide by. The Leader can also promote as many Members
                | to Champions as desired, essentially giving them the authority to make decisions in the Leader's absence.
                br
                br
                | The authority and restrictions the Champions have are determined by the Leader, generally the Leader is the only person
                | that can go to war or declare an alliance with another coven. Champions can induct new Members, promote Members to
                | Champions, and outcast Members from the coven. Members of a coven are expected to follow all the rules the Leader makes, and do their best to uphold the desired image
                | of the coven.
                br
                br
                | Currently there is no system in place to enforce an Alliance status, the punishment for any violation of political
                | agreements is left entirely up to the coven Leader. Generally, the Administrators do NOT get involved in coven affairs,
                | however there are some exceptions (Leader quits the game and a new Leader must be promoted, other things that players may
                | not be able to do).
                br
                br
                table.table_center
                  tr
                    th Coven
                    th Leader
                    th Status
                  tr
                    td Affero Letum
                    td Diabolus
                    td Retired
                  tr
                    td Head Hunters
                    td Rizzo
                    td Retired
                  tr
                    td Kill on Site
                    td Malek
                    td Active
                  tr
                    td Silent Death Pack
                    td Sora
                    td Active
                  tr
                    td Tal'Mahe'Ra
                    td Olek
                    td Inactive
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

