doctype html

//[if IE 9]<html class="lt-ie10" lang="en" > <![endif]>
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Genesis: The Return
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        nav.top-bar
          section.top-bar-section
            ul.left
              li
                a(href='#') Home
              li.has-dropdown.not-click
                a(href='#') Classes
                ul.dropdown
                  li.has-dropdown.not-click
                    a(href='#') Demon
                    ul.dropdown
                      li
                       a(href='#') Halaku
                  li
                    a(href='#') Dragon
                  li
                    a(href='#') Drow
                  li
                    a(href='#') Elementalist
                  li
                    a(href='#') Highlander
                  li.has-dropdown.not-click
                    a(href='#') Mage
                    ul.dropdown
                      li
                        a(href='#') Akashic Brotherhood
                      li
                        a(href='#') Celestial Chorus
                      li
                        a(href='#') Cult of Ecstacy
                      li
                        a(href='#') Dreamspeakers
                      li
                        a(href='#') Euthanatos
                      li
                        a(href='#') Hollow Ones
                      li
                        a(href='#') Order of Hermes
                      li
                        a(href='#') Verbena
                      li
                        a(href='#') Virtual Adepts
                  li
                    a(href='#') Monk
                  li
                    a(href='#') Ninja
                  li
                    a(href='#') Samurai
                  li
                    a(href='#') Sorcerer
                  li.has-dropdown.not-click
                    a(href='#') Vampire
                    ul.dropdown
                      li
                       a(href='#') Assamite
                      li
                        a(href='#') Brujah
                      li
                        a(href='#') Gangrel
                      li
                        a(href='#') Lasombra
                      li
                        a(href='#') Malkavian
                      li
                        a(href='#') Nosferatu
                      li
                        a(href='#') Setite
                      li
                        a(href='#') Tzimisce
                      li
                        a(href='#') Ventrue
                  li
                    a(href='#') Werewolf
              li.has-dropdown.not-click
                a(href='#') Covens
                ul.dropdown
                  li
                    a(href='#') Affero Letum
                  li
                    a(href='#') Head Hunters
                  li
                    a(href='#') Kill on Sight
                  li
                    a(href='#') Silent Death Pack
                  li
                    a(href='#') Tal'Mahe'Ra
              li
                a(href='#') Quest Info
            ul.right
              li
                a(href='#') Connect
              li
                a(href='#') About
    .row
      .small-9.columns.small-centered#header_dragon.header
    .row
      .small-9.columns.small-centered#content_bg
        .row
          .small-11.columns.small-centered#content
            .row
              .small-12.columns#left
                h1 Dragons
                ul#class_stats
                  li Melee Heavy
                  li Tank/DPS
                  li Difficulty: 2/10
                | Dragons are an ancient race of magical beings, although they resemble large reptiles (sometimes growing 
                | as long as 60 feet or more), they are not members of the reptile family. Despite their size and strength,
                | they were hunted nearly to extinction in an attempt to prevent them from exterminating other species. The
                | few dragons that survived managed to do so by using their magic to transform themselves into a humanoid form.
                | Although they can remain hidden better in human form, they are significantly weaker than their natural dragon form.
                br
                br
                | Dragons are unique due to the severe restrictions placed on the equipment they can wear. In human form, a dragon can
                | wear any equipment that isn't class restricted (class relics), or claimed by another player. In dragon form, they are
                | only allowed to wear randomly generated items (Rare and Unique flagged items), and Artifacts. As a dragon ages, they
                | gain stat increases and access to new skills. Most of a dragon's skills are passive abilities that add an extra attack
                | each round of combat, however their dynamic attacks increase in strength as they age. They also possess potentially one 
                | of the best (and worst) healing abilities in the game.
                br
                br
                table.table_center
                  tr
                    th Age
                    th DP Cost
                    th QP Cost
                    th Skills*
                  tr
                    td Hatchling
                    td -
                    td -
                    td Dragon Heal
                  tr
                    td Very Young
                    td 5,000
                    td -
                    td Fangs, Nightsight
                  tr
                    td Young
                    td 10,000
                    td -
                    td Horns, Claws
                  tr
                    td Juvenile
                    td 15,000
                    td -
                    td Wings, Breath
                  tr
                    td Young Adult
                    td 20,000
                    td -
                    td Tail
                  tr
                    td Adult
                    td 25,000
                    td -
                    td Truesight
                  tr
                    td Mature Adult
                    td 30,000
                    td 1,000
                    td Dust
                  tr
                    td Old
                    td 40,000
                    td 1,500
                    td Scry, Magic**
                  tr
                    td Very Old
                    td 50,000
                    td 2,000
                    td Readaura
                  tr
                    td Ancient
                    td 60,000
                    td 2,500
                    td Shield
                  tr
                    td Wyrm
                    td 70,000
                    td 3,000
                    td Dragon Sanctuary***
                  tr
                    td Ancient Wyrm
                    td 80,000
                    td -
                    td Class Leader****
                br
                br
                | Notes:
                br
                br
                | *     All skills cost an additional 5k dp to learn.
                br
                br
                | **    Magic is a passive ability that reduces the lag from basic spells by 40%.
                br
                br
                | ***  Dragon Sanctuary costs 5k dp to turn on, and wears off at midnight.
                br
                br
                | **** Class Leader position requires immortal approval.
                br
                br
                | Dragons are classified as one of six colors, generally their alignment is split between the Chromatic (good), and
                | Metallic (evil) dragons. The special spell effect that a Dragon's breath has is determined by their color.
                br
                br
                table.table_center
                  tr
                    td Black
                    td Acid Breath, weakens victim's armor (lowers avoid).
                  tr
                    td Blue
                    td Lightning Breath, reduces victim's chance to hit (lowers break).
                  tr
                    td Bronze
                    td Repulsion Gas, chance to reflect enemy melee attacks.
                  tr
                    td Gold
                    td Weakening Gas, lowers victim's damcap.
                  tr
                    td Red
                    td Flames, sets victim ablaze, prevents natural hp regen.
                  tr
                    td Silver
                    td Frost Breath, slows the victim (lowers speed).
    .row
      .small-9.columns.small-centered#footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

